<%- include('./includes/head') %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="/design/css/me.css">
            <!--================Home Banner Area =================-->
            <section class="home_banner_area">
                <div class="container box_1620">
                    <div class="banner_inner d-flex align-items-center">
                     <div class="banner_content">
                         <div class="media">
                             <div class="d-flex">
                                 <img src="/Profile.jpg" alt="">
                             </div>
                             <div class="media-body">
                                 <div class="personal_text">
                                     <h6>Hello Everyones! I'm </h6>
                                     <h3>Mc Roniel De Gozo</h3>
                                     <h4>Junior NodeJS Developer</h4>
                                     <p>I am a Junior NodeJS Developer with good knowledge of front-end technology using bootstrap and CSS. I love spending time on Building a web application using NodeJS Frameworks, I have a basic knowledge on PHP,MySQL,NoSql, and collaborating a code using Github. Also I like to work with a team. </p>
                                     <ul class="list basic_info">
                                         <li><a href="#"><i class="bx bx-calendar"></i> November 04, 1999</a></li>
                                         <li><a href="#"><i class="bx bx-phone"></i> 09491821577 </a></li>
                                         <li><a href="#"><i class="bx bx-envelope"></i> ronieldegozo@gmail.com</a></li>
                                         <li><a href="#"><i class="bx bx-map"></i> San Mateo Rizal </a></li>
                                     </ul>
                                     <ul class="list personal_social">
                                         <li><a href="https://www.facebook.com/ronieldegozo04/"><i class="fa fa-facebook"></i></a></li>
                                         <li><a href="https://www.youtube.com/channel/UCSOmpjTnITaChi6TADfx3-Q"><i class="fa fa-youtube"></i></a></li>
                                         <li><a href="https://www.linkedin.com/in/mc-roniel-de-gozo-6466711b8"><i class="fa fa-linkedin"></i></a></li>
                                     </ul>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </section>

         <section class="welcome_area p_120">
        	<div class="container">
        		<div class="row welcome_inner">
        			<div class="col-lg-6">
        				<div class="welcome_text">
        					<h4>About Myself</h4>
        					<p>I am a Junior NodeJS Developer with good knowledge of front-end techniques using Bootstrap and CSS.I love spending my time on fixing little details and optimizing web application using NodeJS Frameworks. also I like working in a team, you'll learn faster and much more.</p>
        					<div class="row">
        						<div class="col-md-4">
        							<div class="wel_item">
        								<i class="fa fa-github"></i>
        								<h4>Github</h4>
        							</div>
        						</div>
        						<div class="col-md-4">
        							<div class="wel_item">
										<i class="fa fa-youtube"></i>
        								<h4>Github</h4>
        							</div>
        						</div>
        						<div class="col-md-4">
        							<div class="wel_item">
										<i class="fa fa-facebook"></i>
        								<h4>Facebook</h4>
        							</div>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-6">
        				<div class="tools_expert">
        					<div class="skill_main">
								<div class="skill_item">
									<h4>NodeJS <span class="counter">75</span>%</h4>
									<div class="project-bar">
										<div class="progress">
											     <div class="project-percent" percent="75"></div>
										</div>
									</div>
								</div>
								<div class="skill_item">
									<h4>PHP <span class="counter">80</span>%</h4>
									<div class="project-bar">
										<div class="progress">
											     <div class="project-percent" percent="80"></div>
										</div>
									</div>
								</div>
								<div class="skill_item">
									<h4>Bootstrap <span class="counter">85</span>%</h4>
									<div class="project-bar">
										<div class="progress">
											     <div class="project-percent" percent="95"></div>
										</div>
									</div>
								</div>
								<div class="skill_item">
									<h4>Git and Github <span class="counter">90</span>%</h4>
									<div class="project-bar">
										<div class="progress">
											<div class="project-percent" percent="90"></div>
										</div>
									</div>
								</div>
								<div class="skill_item">
									<h4>MySql <span class="counter">75</span>%</h4>
									<div class="project-bar">
										<div class="progress">
											     <div class="project-percent" percent="75"></div>
										</div>
									</div>
								</div>
								<div class="skill_item">
									<h4>NoSql <span class="counter">45</span>%</h4>
									<div class="project-bar">
										<div class="progress">
											     <div class="project-percent" percent="45"></div>
										</div>
									</div>
								</div>
							</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>

		<section class="mytabs_area p_120">
        	<div class="container">
        		<div class="tabs_inner">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">My Experiences</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">My Education</a>
						</li>
					</ul>
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
							<ul class="list">
								<li>
									<span></span>
									<div class="media">
										<div class="d-flex">
											<p>March 2018 to June 2018</p>
										</div>
										<div class="media-body">
											<h4>Jollibee Service Crew</h4>
											<p>Kitchen crew at <br/> San Mateo Rizal Branch</p>
										</div>
									</div>
								</li>
								<li>
									<span></span>
									<div class="media">
										<div class="d-flex">
											<p>April 2019 to Sept. 2020</p>
										</div>
										<div class="media-body">
											<h4>Burger King Service Crew</h4>
											<p>Kitchen Crew, Dinning Crew, Expeditor<br/>Gil Fernando, Marikin City</p>
										</div>
									</div>
								</li>
								<li>
								<span></span>
									<div class="media">
										<div class="d-flex">
											<p>March 2017 to present</p>
										</div>
										<div class="media-body">
											<h4>Colorlib</h4>
											<p>Senior Web Developer <br />Santa monica, Los angeles</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
							<ul class="list">
								<li>
									<span></span>
									<div class="media">
										<div class="d-flex">
											<p>March 2016 to April 2018</p>
										</div>
										<div class="media-body">
											<h4>Senior High School</h4>
											<p>Informatics International College <br />Cainta Rizal</p>
										</div>
									</div>
								</li>
								<li>
									<span></span>
									<div class="media">
										<div class="d-flex">
											<p>March 2018 to April 2022</p>
										</div>
										<div class="media-body">
											<h4>College</h4>
											<p>New Era University (BSIT) <br />Main Campus Quezon City</p>
										</div>
									</div>
								</li>
								<li>
								<span></span>
									<div class="media">
										<div class="d-flex">
											<p>March 2017 to present</p>
										</div>
										<div class="media-body">
											<h4>Colorlib</h4>
											<p>Senior Web Developer <br />Santa monica, Los angeles</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
        		</div>
        	</div>
        </section>

			<% articles.forEach(function(article, index) { %>
				<div class='container'>
					<main>
					  <div class='normal'>
						<div class='module d-flex'>
						  <div class='thumbnail'>
							<img src="<%= article.urlToImage %>">
							<div class='date'>
							  <div><%= article.publishedAt %></div>
							</div>
						  </div>
						  <div class='content'>
							<div class="category">Category</div>
							<h1 class='title'><%= article.title %></h1>
							<h2 class='sub-title'><%= article.author %></h2>
							<div class="description"><%= article.content %></div>
							<div class="meta">
							  <span class="comments">
									<a href="<%= article.url %>" class="btn btn-success">Read More</a>
							  </span>
							</div>
						  </div>
						</div>
					  </div>
					</main>
				  </div>
			<% }) %>
	
<%- include('./includes/footer') %>