<%- include('./includes/head') %>

  <!-- ======= Header ======= -->
    <%- include('./includes/navbar') %>
  <section id="hero" class="d-flex align-items-center">
    <div class="container-fluid" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <img src="/design/img/news.svg" class="img-fluid animated" alt="">
        </div>
        <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="150">
          <h1 class="text-center">NEWS API ORGANIZATION</h1>
          <h2>News API is a simple, easy-to-use REST API that returns JSON search results for current and historic news articles published by over 80,000 worldwide sources.</h2>
        </div>
      </div>
    </div>
  </section><!-- End Hero -->


<div class="container-scroller">
  <div class="main-panel">

    <div class="content-wrapper">
      <div class="container">

        <div class="row" data-aos="fade-up">
          <!-- <div class="col-lg-3 stretch-card grid-margin">
            <div class="card">
              <div class="card-body">
                <h2>Category</h2>
                <ul class="vertical-menu">
                  <li><a href="#">Politics</a></li>
                  <li><a href="#">International</a></li>
                  <li><a href="#">Finance</a></li>
                  <li><a href="#">Health care</a></li>
                  <li><a href="#">Technology</a></li>
                  <li><a href="#">Jobs</a></li>
                  <li><a href="#">Media</a></li>
                  <li><a href="#">Administration</a></li>
                  <li><a href="#">Sports</a></li>
                  <li><a href="#">Game</a></li>
                  <li><a href="#">Art</a></li>
                  <li><a href="#">Kids</a></li>
                </ul>
              </div>
            </div>
          </div> -->
          <!-- news -->
          
          <div class="col-lg-9 stretch-card grid-margin">
            <div class="card">
              <div class="card-body">
                <% articles.forEach(function(article, index) { %>
                <div class="row">
                  <div class="col-sm-4 grid-margin">
                    <div class="position-relative">
                      <div class="rotate-img">
                        <img
                          src="<%= article.urlToImage %>"
                          alt="thumb"
                          class="img-fluid"
                        />
                      </div>
                      <div class="badge-positioned">
                        <span class="badge badge-danger font-weight-bold"
                          ><%= article.publishedAt %></span
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-8  grid-margin">
                    <h2 class="mb-2 font-weight-600">
                      <%= article.title %>
                    </h2>
                    <div class="fs-13 mb-2">
                      <span class="mr-2"><%= article.author %> </span> <a href="<%= article.url %>">Read More</a>
                    </div>
                    <p class="mb-0">
                      <%= article.content %>
                    </p>
                  </div>
                </div>
                <% }) %>
              </div>
            </div>
          </div>




        </div>
        <div class="row" data-aos="fade-up">
          <div class="col-sm-12 grid-margin">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-8">
                    <div class="card-title">
                      Video
                    </div>
                    <div class="row">
                      <div class="col-sm-6 grid-margin">
                        <div class="position-relative">
                          <div class="rotate-img">
                            <img
                              src="/news_design/images/dashboard/home_7.jpg"
                              alt="thumb"
                              class="img-fluid"
                            />
                          </div>
                          <div class="badge-positioned w-90">
                            <div
                              class="d-flex justify-content-between align-items-center"
                            >
                              <span
                                class="badge badge-danger font-weight-bold"
                                >Lifestyle</span
                              >
                              <div class="video-icon">
                                <i class="mdi mdi-play"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-6 grid-margin">
                        <div class="position-relative">
                          <div class="rotate-img">
                            <img
                              src="/news_design/images/dashboard/home_8.jpg"
                              alt="thumb"
                              class="img-fluid"
                            />
                          </div>
                          <div class="badge-positioned w-90">
                            <div
                              class="d-flex justify-content-between align-items-center"
                            >
                              <span
                                class="badge badge-danger font-weight-bold"
                                >National News</span
                              >
                              <div class="video-icon">
                                <i class="mdi mdi-play"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6 grid-margin">
                        <div class="position-relative">
                          <div class="rotate-img">
                            <img
                              src="/news_design/images/dashboard/home_9.jpg"
                              alt="thumb"
                              class="img-fluid"
                            />
                          </div>
                          <div class="badge-positioned w-90">
                            <div
                              class="d-flex justify-content-between align-items-center"
                            >
                              <span
                                class="badge badge-danger font-weight-bold"
                                >Lifestyle</span
                              >
                              <div class="video-icon">
                                <i class="mdi mdi-play"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-6 grid-margin">
                        <div class="position-relative">
                          <div class="rotate-img">
                            <img
                              src="/news_design/images/dashboard/home_10.jpg"
                              alt="thumb"
                              class="img-fluid"
                            />
                          </div>
                          <div class="badge-positioned w-90">
                            <div
                              class="d-flex justify-content-between align-items-center"
                            >
                              <span
                                class="badge badge-danger font-weight-bold"
                                >National News</span
                              >
                              <div class="video-icon">
                                <i class="mdi mdi-play"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div
                      class="d-flex justify-content-between align-items-center"
                    >
                      <div class="card-title">
                        Latest Video
                      </div>
                      <p class="mb-3">See all</p>
                    </div>
                    <div
                      class="d-flex justify-content-between align-items-center border-bottom pb-2"
                    >
                      <div class="div-w-80 mr-3">
                        <div class="rotate-img">
                          <img
                            src="/news_design/images/dashboard/home_11.jpg"
                            alt="thumb"
                            class="img-fluid"
                          />
                        </div>
                      </div>
                      <h3 class="font-weight-600 mb-0">
                        Apple Introduces Apple Watch
                      </h3>
                    </div>
                    <div
                      class="d-flex justify-content-between align-items-center border-bottom pt-3 pb-2"
                    >
                      <div class="div-w-80 mr-3">
                        <div class="rotate-img">
                          <img
                            src="/news_design/images/dashboard/home_12.jpg"
                            alt="thumb"
                            class="img-fluid"
                          />
                        </div>
                      </div>
                      <h3 class="font-weight-600 mb-0">
                        SEO Strategy & Google Search
                      </h3>
                    </div>
                    <div
                      class="d-flex justify-content-between align-items-center border-bottom pt-3 pb-2"
                    >
                      <div class="div-w-80 mr-3">
                        <div class="rotate-img">
                          <img
                            src="/news_design/images/dashboard/home_13.jpg"
                            alt="thumb"
                            class="img-fluid"
                          />
                        </div>
                      </div>
                      <h3 class="font-weight-600 mb-0">
                        Cycling benefit & disadvantag
                      </h3>
                    </div>
                    <div
                      class="d-flex justify-content-between align-items-center border-bottom pt-3 pb-2"
                    >
                      <div class="div-w-80 mr-3">
                        <div class="rotate-img">
                          <img
                            src="/news_design/images/dashboard/home_14.jpg"
                            alt="thumb"
                            class="img-fluid"
                          />
                        </div>
                      </div>
                      <h3 class="font-weight-600">
                        The Major Health Benefits of
                      </h3>
                    </div>
                    <div
                      class="d-flex justify-content-between align-items-center pt-3"
                    >
                      <div class="div-w-80 mr-3">
                        <div class="rotate-img">
                          <img
                            src="/news_design/images/dashboard/home_15.jpg"
                            alt="thumb"
                            class="img-fluid"
                          />
                        </div>
                      </div>
                      <h3 class="font-weight-600 mb-0">
                        Powerful Moments of Peace
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>



<%- include('./includes/footer') %>